<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
</head>

<body>
    <script>
        var name = "Long";
        if (mess) {
            socket.emit('chat message', {
                name,
                mess
            });
        }

        socket.on('chat message', function(msg) {
            // item.textContent = `${msg.name}: ${msg.mess}`;
            alert(msg.mess);
        });
    </script>

</body>

</html>